/* Importing a Google Font */


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Changing the main font and background colour */

body {
	font-family: Raleway, sans-serif;
	background-color: #fffcf8;
}

/* Changing the background colour for the header */

header {
	background-color: #B82AA6;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #000000;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}
